<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="~{fragments/template1}" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>smallbank</title>
</head>
<body>
<div class="row" layout:fragment="content">

    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-header">Account search</div>
            <div class="card-body">
                <form class="form-inline" th:action="@{/searchAccount}">
                    <label class="mr-sm-2" for="acode">Account code:</label>
                    <input id="acode" type="text" name="accountCode" th:value="${accountCode}" class="form-control mr-sm-2"/>
                    <button type="submit" class="btn btn-primary mr-sm-2">Find</button>
                </form>
                <br/>
                <div class="alert alert-danger" th:if="${exception}">
                    <strong>Error!</strong> <label th:text="${exception.getMessage()}"></label> .
                </div>
            </div>
        </div>
        <div class="card bg-light" th:if="${account}">
            <div class="card-header">Account information</div>
            <div class="card-body">
                <div>
                    <label>Customer:</label>
                    <label th:text="${account.client.name}"></label>
                </div>
                <div>
                    <label>Code:</label>
                    <label th:text="${account.accountCode}"></label>
                </div>
                <div>
                    <label>Creation Date:</label>
                    <label th:text="${#dates.format(account.creationDate,'yyyy-MM-dd HH:mm:ss')}"></label>
                </div>
                <div>
                    <label>Balance:</label>
                    <label th:text="${account.balance}"></label>
                </div>
                <div>
                    <label>Type:</label>
                    <label th:text="${account.class.simpleName}"></label>
                </div>
                <div th:if="${account.class.simpleName=='CurrentAccount'}">
                    <label>Overdraft:</label>
                    <label th:text="${account.overdraft}"></label>
                </div>
                <div th:if="${account.class.simpleName=='SavingAccount'}">
                    <label>Overdraft:</label>
                    <label th:text="${account.rate}"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-light" th:if="${account}"  sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="card-header">Operations Account</div>
            <div class="card-body">
                <form th:action="@{/createOperation}" method="post">
                    <div>
                        <input type="hidden" name="accountCode" th:value="${accountCode}"/>
                        <label>Account code:</label>
                        <label th:text="${accountCode}"></label>
                    </div>
                    <div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="operationType" value="DEP"
                                   checked="checked"
                                       onchange="document.getElementById('toacode2').style.display='none'">Deposit
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="operationType"
                                       value="DRW"
                                       onchange="document.getElementById('toacode2').style.display='none'">Withdraw
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" class="form-check-input" name="operationType"
                                   value="TRF"
                                   onchange="document.getElementById('toacode2').style.display='block'">Transfer
                        </div>
                    </div>
                    <div id="toacode2" class="form-group" style="display: none">
                        <label for="acode2">To:</label>
                        <input id="acode2" type="text" class="form-control" name="accountCode2">
                    </div>
                    <div class="form-group">
                        <label for="amt">Amount:</label>
                        <input id="amt" type="text" class="form-control" name="amount">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                <br/>
                <div class="alert alert-danger" th:if="${exception2}">
                    <strong>Error!</strong> <label th:text="${exception2.getMessage()}"></label> .
                </div>
            </div>
        </div>
        <div class="card bg-light" th:if="${account}">
            <div class="card-header">Operations list</div>
            <div class="card-body">
                <div class="container">
                <table class="table table-striped">
                    <tr>
                        <th>Number</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                    <tr th:each="o:${operations}">
                        <td th:text="${o.opsNumber}"></td>
                        <td th:text="${o.class.simpleName}"></td>
                        <td th:text="${#dates.format(o.operationDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${o.amount}"></td>
                    </tr>
                </table>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${page==0}? disabled">
                        <a class="page-link" th:href="@{/searchAccount(page=0,accountCode=${accountCode})}">First</a>
                    </li>
                    <li class="page-item" th:classappend="${page==0}? disabled">
                        <a class="page-link"
                           th:href="@{/searchAccount(page=(${page}-1),accountCode=${accountCode})}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${i==page}? disabled"
                        th:each="i:${#numbers.sequence(firstPage,lastPage)}">
                        <a class="page-link" th:text="${i}"
                           th:href="@{/searchAccount(page=${i},accountCode=${accountCode})}"></a>
                    </li>
                    <li class="page-item" th:classappend="${page==(totalPages)-1}? disabled">
                        <a class="page-link"
                           th:href="@{/searchAccount(page=${page+1},accountCode=${accountCode})}">Next</a>
                    </li>
                    <li class="page-item" th:classappend="${page==(totalPages)-1}? disabled">
                        <a class="page-link" th:href="@{/searchAccount(page=(${totalPages}-1),accountCode=${accountCode})}">Last</a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>